<!DOCTYPE html>
<html>

<head>
    <title>SSL Hub</title>
</head>

<body>

    <h1>SSL Hub</h1>

    <table>

        <tr>
            <th>Domain</th>
            <th>WordPress</th>
            <th>SSL</th>
            <th>Renew</th>
            <th>Status</th>
        </tr>

        {% for d in domains %}

        <tr>

            <td>{{ d[0] }}</td>

            <td>
                {% if d[1] %}
                Yes
                {% else %}
                No
                {% endif %}
            </td>

            <td>
                {% if d[2] %}
                Yes
                {% else %}
                No
                {% endif %}
            </td>

            <td>{{ d[3] }}</td>

            <td>
                {% if d[4] %}
                Ignored
                {% else %}
                Managed
                {% endif %}
            </td>

        </tr>

        {% endfor %}

    </table>

</body>

</html>