<!DOCTYPE html>
<html>

<head>
    <title>SSL Hub</title>
</head>

<body>

    <h1>SSL Hub</h1>

    <table border="1">
        <tr>
            <th>Domain</th>
            <th>Key</th>
            <th>CA</th>
            <th>Created</th>
            <th>Renew</th>
        </tr>

        {% for d in domains %}
        <tr>
            <td>{{ d[1] }}</td>
            <td>{{ d[2] }}</td>
            <td>{{ d[4] }}</td>
            <td>{{ d[5] }}</td>
            <td>{{ d[6] }}</td>
        </tr>
        {% endfor %}

    </table>

</body>

</html>